input, textarea {
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 0.8125rem 1rem;
  width: 100%;
  background-color: var(--input-base);
  color: var(--text-body);
}

textarea {
  font: var(--body-md);
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--brand-light);
}

label {
  display: block;
  margin-bottom: 0.75rem;

  color: var(--text-body);
  font: var(--body-sm);
}

.flex {
  gap: 1rem;
}


input:invalid {
  border: 1px solid var(--danger);
}

input:valid + .error {
  display: none;
}

.error {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--danger);
  font: var(--body-xs);
}