.about-event {
  .radio-wrapper {
    display: grid;

    & .options {
      background-color: var(--input-base);
      border-radius: 0.5rem;
      gap: 0;
    }

    & .radio-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      border-radius: 0.25rem;
      margin: 0.25rem;
      padding-block: 0.5rem;
      position: relative;
      color: var(--text-body);
      font: var(--body-sm);

      &:has(:checked) {
        background-color: var(--input-stroke);
        font-weight: 600;
        & svg path {
          stroke: var(--brand-light);
        }
      }

      & input[type="radio"] {
        position: absolute;
        inset: 0;
        opacity: 0;
      }
    }
  }
}