.preferences {
  & .preferences-check {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 3rem;

    & .preferences-checkbox {
      display: flex;
      align-items: center;
      position: relative;
      margin-block: 0.28125rem;
      gap: 0.75rem;

      & input {
        position: absolute;
        inset: 0;
        opacity: 0;
        width: 3.5%;
        height: 100%;
        }

      &:has(input:checked) {
        & .preferences-image {
          background-image: url(../assets/icons/checkbox-checked.svg);
        }
      }

      & .preferences-image {
        background-image: url(../assets/icons/checkbox.svg);
        width: 1rem;
        height: 1rem;
        object-fit: cover;
      }

      & span {
        color: var(--text-body);
        font: var(--body-sm);
        & strong {
          font-weight: 600;
          text-decoration: underline;
          color: var(--brand-light);
        }
      }
    }
  }

  .actions {
    display: flex;
    margin: auto;

    & button {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: .75rem;
        padding: .875rem 1.25rem;
        background-color: var(--brand-dark);
        border: none;
        border-radius: .5rem;

        &:hover {
            background-color: var(--brand-mid);
        }

        & span {
            color: var(--text-heading);
            font: var(--body-md);
        }
    }
  }
}